.card-user {
  min-height: 150px;
  width: 21.56rem;
  background-color: var(--dark-magenta);
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
  color: var(--light-grayish-magenta);  
}

.card-user h6{
  font-size: 23px;
  margin: 0;
}

.card-user strong {
  color: var(--soft-pink);
  font-weight: 400;
}

.card-user img {  
  border-radius: 999px;
  width: 80px;
  height: 80px;
}


.card-top-user {
  display: flex;  
  align-items: center;
}